<html>
  <head>
    <title>
        CIENTÍFICOS
    </title>
    <link rel="stylesheet" href="../Recursos/estilos.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  
  <body>
    <div class="inicio">
      <h1 class="titulo_registro"> REGÍSTRATE </h1>
      <br>
      <form action="registro.php" method="post">
        <label>
          <img src="../Img/Iconos/usuario.svg" alt="usuarios" class="iconos_form">
          <input type="text" name="nick" placeholder="Usuario" class="input"/>
        </label><br>
      
        <label>
          <img src="../Img/Iconos/candado.svg" alt="candado" class="iconos_form">
          <input type="password" name="contraseña" placeholder="Contraseña" class="input" />
        </label><br>
      
        <label>
          <img src="../Img/Iconos/editar.svg" alt="nombre" class="iconos_form">
          <input type="text" name="nombre" placeholder="Nombre" class="input" />
        </label><br>
      
        <label>
          <img src="../Img/Iconos/editar.svg" alt="apellidos" class="iconos_form">
          <input type="text" name="apellidos" placeholder="Apellidos" class="input" />
        </label><br>
      
        <label>
          <img src="../Img/Iconos/correo.svg" alt="correo" class="iconos_form">
          <input type="text" name="correo" placeholder="Correo" class="input" />
        </label><br>
      
        <label>
          <img src="../Img/Iconos/telefono.svg" alt="telefono" class="iconos_form">
          <input type="text" name="telefono" placeholder="Teléfono" class="input" />
        </label><br>
      
        <label>
          <img src="../Img/Iconos/direccion.svg" alt="direccion" class="iconos_form">
          <input type="text" name="direccion" placeholder="Dirección" class="input" />
        </label><br>
      
        <label>
          <img src="../Img/Iconos/ciudad.svg" alt="ciudad" class="iconos_form">
          <input type="text" name="ciudad" placeholder="Ciudad" class="input" />
        </label><br>
      
        <label>
          <img src="../Img/Iconos/pais.svg" alt="pais" class="iconos_form">
          <input type="text" name="pais" placeholder="País" class="input" />
        </label><br>
      
        <label>
          <img src="../Img/Iconos/codpost.svg" alt="cp" class="iconos_form">
          <input type="text" name="cp" placeholder="Código postal" class="input" />
        </label><br>
      
        <input id="registro" type="submit" value="Registro" />
      </form>
    </div>
    
  </body>

</html>
